PORT=5001

NODE_ENV=development

  
  

# This was inserted by `prisma init`:

# Environment variables declared in this file are NOT automatically loaded by Prisma.

# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun

# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

  

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

  

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="postgresql://admin@localhost:5432/foodapp"

JWT_ACCESS_SECRET= tThKYTtyewy1zsqd04FR/AiwjFEYzmzUt/7hxf+DgR8=

JWT_ACCESS_EXPIRES_IN= 7d

GEOAPIFY_API_KEY= 2b391cdcaef34f58ac761efb849f51db
GROQ_API_KEY = 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
JWT_REFRESH_SECRET= Wl041Xt0wU5+5JTGZm/MogTcI4oc/5L1Dv9DQiju07E=
CLOUDINARY_CLOUD_NAME=djbkw6cej
CLOUDINARY_API_KEY=316233588983852
CLOUDINARY_API_SECRET=-_JtF4QR_spDopS2LozfZHrckRk
JWT_REFRESH_TOKEN_EXPIRES_IN_DAYS= 7
OTP_EMAIL=lenguyenthienphuc2004@gmail.com
OTP_PASSWORD=rtqtwdcqpmpbbogu

# VNPay Configuration
VNP_TMNCODE=YOUR_TMNCODE
VNP_SECURE_SECRET=YOUR_SECURE_SECRET
VNP_HOST=https://sandbox.vnpayment.vn